button {
    margin: 10px;
    text-transform: uppercase;
}

mat-card {
    margin-bottom: 10px;
    padding: 10px;
}

@media only screen and (max-width: 500px) {
    .desktop {
        display: none;
    }

    mat-card {
        width: 100%;
        margin: 0;
    }
}
